@model DetailPageViewModel<Essay>
<article><h1>@Model.Item.Title</h1><p>@Model.Item.Summary</p>@if(Model.Item.HeroAssetId.HasValue){<img src="/assets/@Model.Item.HeroAssetId" alt="@Model.Item.HeroAsset?.AltText" />}@Html.Raw(Model.Item.RenderedHtml)</article>
