@model HomePageViewModel
<section class="hero section-reveal" aria-labelledby="hero-thesis">
    <div class="identity-block">
        <img src="~/img/Logo-Out.svg" alt="" class="hero-logo" />
        <p class="identity-name">manpreet singh</p>
    </div>
    <div class="thesis-block">
        <h1 id="hero-thesis">@Model.HeroTitle</h1>
        <p>@Model.HeroSubtext</p>
    </div>
</section>
